h2 {
    align-items: center;
    justify-content: center;
    display: flex;
}

.GridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;
    max-height: 1000px;
    width: 80vw;
    min-width: 300px;
    max-width: 1200px;
    justify-content: space-around;
    margin: auto;
    grid-gap: 1em;
}

.VideoUpload, .VideoDisplay {
    background-color: black;
}